body {
    background:linear-gradient(to right, #131313, #303030, #131313);
}

/* navbar */
.navbar {
    box-shadow: 0px 2px 5px 0px rgb(17, 17, 17);
}
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background-color: black;
}

/* jumbotron */
.carousel-item.active {
    display: flex;
    align-items: center;
}

.carou-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carou-cap {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* product cards */
.card {
    box-shadow: 3px 3px 5px 0px rgb(39, 39, 39);
}

.w-40 {
    width: 40%;
}


/* section2 */

.cap {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* footer */

#footer .container-fluid .foot .address {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

#footer .container-fluid .foot .address span {
  color: #f1ecec;
}

#footer .container-fluid .foot .address a {
  text-decoration: none;
  color: #f1ecec;
}

#footer .container-fluid .foot .address a:hover {
  color: #ff3232;
}

#footer .container-fluid .foot .footer-links a {
  text-decoration: none;
  color: #e03a3a;
}

#footer .container-fluid .foot .footer-links a:hover {
  color: #fffdfdf3;
}


#footer .container-fluid .foot .footer-links ul {
  margin: 0;
  padding: 0;
}

#footer .container-fluid .foot .footer-links ul a{
    margin: 1rem;
}


/* dropdown on hover */
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}