{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/763b9f9d47.js" crossorigin="anonymous"></script>
    <title>{% if title %} nutrix | {{title}} {% else %} nutrix {% endif %}</title>
  </head>
  <body class="bg-light">
    
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">nutrix.</a>
            <form class="form-inline flex-grow-1" method="GET" action="{% url 'search_results_url' %}">
                <input class="form-control mr-2 flex-grow-1 border border-light" name="title" type="search" placeholder="Search products" aria-label="Search" id="Search">
                <input class="btn btn-info mr-2" type="submit" value="Search">
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage_url' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'all_products_url' %}" id="ProductDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="ProductDropdown">
                            <a class="dropdown-item" href="{% url 'all_products_url' %}">All Products</a>
                            <a class="dropdown-item" href="{% url 'proteins_url' %}">Protein</a>
                            <a class="dropdown-item" href="{% url 'performance_url' %}">Performance</a>
                            <a class="dropdown-item" href="{% url 'essentials_url' %}">Essentials</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="BrandDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="BrandDropdown">
                            <a class="dropdown-item" href="{% url 'brands_url' %}">All Brands</a>
                            <a class="dropdown-item" href="{% url 'brand_page_url' brand_id=2%}">MusclePharm</a>
                            <a class="dropdown-item" href="{% url 'brand_page_url' brand_id=1%}">Optimum Nutrition</a>
                            <a class="dropdown-item" href="{% url 'brand_page_url' brand_id=3%}">BSN</a>
                        </div>
                    </li>
                   
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
    
                    <li class="nav-item">
                        <a href="{% url 'view_cart_url' %}" class="nav-link">My Cart ({{number_of_items}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <p class="mb-0">{{message}}</p>
        {% endfor %}  
    </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <section class="footer bg-dark" id="footer">
    <div class="container-fluid">
        <div class="foot p-3">
            <div class="address">
                <span>75 Aliwal St</span><span> / </span
                ><span>Singapore 199946</span><br />
                <a href="tel:88888888" >88888888</a
                ><span> / </span><span >info@suppsg.com</span>
                <div class="directions">
                    <a href="" >Get Directions</a>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <ul class="d-flex justify-content-center">
                    <a href="">Careers</a>
                    <a href="#contact">Contact</a>
                    <a href="">Privacy Policy</a>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'JS/main.js' %}"></script>
    <script>
    $( function() {
        $( "#Search" ).autocomplete({
            source: '{% url "search_product_url" %}',
            minLength: 2
        });
    } );
    </script>
    {% block js %}
    {% endblock js %}
  </body>
</html>