{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'jumbo.html' %}

<div class="container mt-4">
    <section class="mt-4 mb-4">
        <h2 class="text-center mt-2"><span class="text-white">Featured Products</span></h2>
        <div class="row justify-content-center">
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-sm-7 col-md-5 col-lg-3 m-3 border rounded">
                <img src="{% static 'images/combatprotein.png' %}">
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
        </div>
    </section>
</div>

<section style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),url({% static 'images/example2.jpg'%});background-position:center;background-size:cover;min-height:50vh;" class="d-flex align-items-center">
    <div class="container">
        <div class="cap float-right text-white"> 
            <h2 class="mb-2 w-50">Choose Your Protein</h2>
            <a class="btn btn-primary" href="">Shop Protein</a>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row text-white justify-content-around p-5">
        <div style="background: url({% static 'images/essentials.jpg'%}); min-height:380px;background-position:center;background-size:cover;" class="card col-11 col-lg-5 border border-danger sec3">
            hello
        </div>   
        <div style="background: url({% static 'images/essentials.jpg'%}); min-height:380px;background-position:center;background-size:cover;" class="card col-11 col-lg-5 border border-danger sec3">
            hello
        </div>   
    </div>
</section>


{% endblock content %}