{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'jumbo.html' %}
<div class="container mt-4">
    <section class="mt-4 mb-4">
        <h1 class="text-center mt-2"><span>Featured Products</span></h1>
        <div class="row justify-content-center">
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <a href="" class="text-dark text-decoration-none"><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><strong>$26.90</strong></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <a href=""><h4 class="card-title">Combat Protein</h4></a>
                    <p class="card-text"><small class="text-muted">$26.90</small></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <h4 class="card-title">Combat Protein</h4>
                    <p class="card-text"><small class="text-muted">$26.90</small></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <h4 class="card-title">Combat Protein</h4>
                    <p class="card-text"><small class="text-muted">$26.90</small></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <h4 class="card-title">Combat Protein</h4>
                    <p class="card-text"><small class="text-muted">$26.90</small></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
            <div class="card p-0 col-10 col-md-4 col-lg-3 m-3 border rounded">
                <div style="background-image:url({% static 'images/combatprotein.png'%});background-position:center;background-size:cover;" class="card-pic"></div>
                <div class="card-body bg-light">
                    <h4 class="card-title">Combat Protein</h4>
                    <p class="card-text"><small class="text-muted">$26.90</small></p>
                    <a href="" class="btn btn-primary float-right">Add to cart</a>
                </div>
            </div>
        </div>
    </section>
</div>
<section style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),url({% static 'images/example2.jpg'%});background-position:center;background-size:cover;min-height:50vh;" class="carousel-item active">
    <div class="container">
        <div class="cap float-right text-white"> 
            <h2 class="mb-1">15% OFF ON SELECT PRODUCTS!</h2>
            <p class="mb-1">limited time only</p>
            <a class="btn btn-primary" href="">Shop Now</a>
        </div>
    </div>
</section>



{% endblock content %}