{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
<div class="container justify-content-center">
    {% for brand in brands %}
    <div class="row border border-secondary m-4 justify-content-center">
        {% cloudinary brand.image class="col-lg-6 p-0" %}
        <div class="col-lg-6 p-3 col-sm-10 d-flex flex-column justify-content-center align-items-center">
            <h2>{{brand.title}}</h2>
            <p>{{brand.desc}}</p>
            <a class="btn btn-primary" href="{% url 'brand_page_url' brand_id=brand.id%}">Shop {{brand.title}}</a>
        </div>
    </div>
    {% endfor%}
</div>

{% endblock content %}